{% extends "layout.html" %}

{% block body %}
    <p>Did you know <a href="https://en.wikipedia.org/wiki/Flag_of_Jamaica">only one country flag</a> doesn't have red, white, or blue?</p>
    <p>Play around and discover who has which!</p>

    {% for color in colors %}
        <input name="color" type="checkbox" value="{{ color }}">{{ color }}</input>
    {% endfor %}
    <button type="submit">Filter</button>

    <!--Use python with an SQL query to build all cases (one color alone ×3, two colors together ×3, three colors ×1)-->
    <!--Have 3 databases: colors, flags, and color × flag-->

{% endblock %}