<!DOCTYPE html>

<html lang="en">
    <head>
        <meta name="viewport" content="initial-scale=1, width=device-width">
        <title>Red, white and blue</title>
        <link href="../static/styles.css" rel="stylesheet">
    </head>

    <body>
        <h1>Red, White and Blue</h1>

        {% block body %}{% endblock %}
    </body>

    <footer>
        <p>Check out everything about this website <a href="https://github.com/alexture/Flags">on the GitHub repository</a>. This is a beginner project: all advice and contributions are accepted, as long as they're patient and kind.</p>
    </footer>
</html>